{% extends 'base.html' %}
{% block body %}
<!-- Todo adder -->
<div class="container">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo title</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc">
    </div>

    <div class="container">
      <div class="my-4">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
            <div class="btn-group">
            </div>
          </div>
        </nav>
      </div>
    </div>
</div>

<!-- Table -->
<div class='container'>
  {% if allTodo|length != 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">sno</th>
        <th scope="col">title</th>
        <th scope="col">description</th>
        <th scope="col">time</th>
      </tr>
    </thead>
    {% else %}
    <div class="alert alert-secondary" role="alert">
      Add your todays goal.
    </div>
    {% endif %}
    <tbody>
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.time}}</td>
        <td><a href="/Done/{{todo.sno}}" class="btn btn-outline-success">Done</a>
          <a href="/Update/{{todo.sno}}" class="btn btn-outline-secondary">Update</a>
          <a href="/Delete/{{todo.sno}}" class="btn btn-outline-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}